.mobile-header {
    @media screen and (max-width: 767px) {
        padding: var(--mobile-padding);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    position: fixed;
    top: 0;
    z-index: var(--header-z-index);
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70px;
    background-color: #fff;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
}


.m-logo {
    height: 34px;
}

.m-site-name {
    margin-left: 8px;
    height: 20px;
}

.header {
    @media screen and (max-width: 767px) {
        padding: var(--mobile-padding);
    }

    position: absolute;
    top: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: var(--header-z-index);
}

.header>div {
    @media screen and (min-width: 768px) {
        max-width: var(--global-width-4);
    }

    @media screen and (min-width: 960px) {
        max-width: var(--global-width-3);
    }

    @media screen and (min-width: 1128px) {
        max-width: var(--global-width-2);
    }

    width: 100%;
    max-width: var(--global-pc-width);
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu {
    @media screen and (max-width: 767px) {
        display: none;
        position: fixed;
        top: 70px;
        z-index: var(--header-z-index);
        background-color: #fff;
        width: 100%;

        flex-direction: column;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

        // li {
        //     min-height: 70px;
        // }
    }

    display: flex;
    justify-content: space-between;
    width: 557px;
}


.link {
    @media screen and (max-width: 767px) {
        display: inline-flex;
        padding-left: var(--mobile-padding);
        padding-right: var(--mobile-padding);
        flex-direction: column;
        justify-content: center;
        // align-items: center;

        a {
            width: 100%;
        }

        +link {
            // border-top: 1px solid #000;
        }
    }

    position: relative;
    display: flex;
    align-items: center;

    a {
        height: 44px;
        line-height: 44px;
    }

    a,
    a>button {
        font-size: 1.0625rem;
        font-weight: bold;
        color: var(--text-blue-color-2);
        text-decoration: none;
    }
}

.link+.link {
    @media screen and (max-width: 767px) {
        // border-top: 1px solid;
        // border-color: rgba(0, 0, 0, 0.5);
    }
}



.sticky {
    position: fixed;
    top: 0;
    background-color: var(--text-blue-color-1);
    opacity: 1;
}

.sticky ul {
    background-color: var(--text-blue-color-1);
}

.sticky .link a,
.sticky .link a>button,
.sticky .link svg,
.sticky li {
    color: var(--white-color);
}

.active {

    >a,
    div>a {
        font-size: 1.0625rem;
        font-weight: bold;
        color: var(--text-blue-color-3) !important;
        text-decoration: none;
    }
}

.contactme {
    @media screen and (min-width: 768px) {
        border: 1px solid #0D6EFD;
        padding: 8px 12px;
        border-radius: 4px;
    }
}

.contactme:hover {
    color: var(--white-color) !important;
    background-color: var(--text-blue-color-3) !important;
}