.banner {
  @media screen and (max-width: 767px) {
    padding: var(--mobile-padding);
    margin-top: 70px;
  }

  display: flex;
  width: 100%;
  position: relative;
  height: 500px;
  background-image: url('/_123282362_hi042879001.jpg');
  background-repeat: repeat;
  background-position: center;
}

.desc {
  @media screen and (max-width: 767px) {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  margin: 0 auto;
  width: 100%;
  max-width: var(--global-pc-width);
  margin-top: 228px;
  color: var(--white-color);
  font-size: 3rem;
  text-align: center;
  font-size: 1rem;
  text-align: left;
}

.desc h3 {
  @media screen and (max-width: 767px) {
    font-size: 2rem;
  }

  font-weight: bold;
  font-size: 3rem;
}

.desc h2 {
  font-weight: bold;
  font-size: 1rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--title-color);
  font-size: 2.25rem;
  font-weight: bold;
  background-color: var(--white-color);

  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.section {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  display: flex;
  margin-bottom: 70px;
}

.content div {
  @media screen and (max-width: 767px) {
    margin: 10px 8px;
    font-size: 1.25rem;

  }

  display: flex;
  flex-direction: column;
  text-align: center;
  color: #394B6A;
  font-size: 2rem;
  font-weight: 700;
  margin: 0px 20px;
}

.content img {
  @media screen and (max-width: 767px) {
    max-width: 100px;
  }

  width: 100%;
  max-width: 200px;
}

.advantage {
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.advantage div {
  position: relative;
}

.advantage div span {
  // position: relative;
  margin-top: 30px;
}

.button {
  @media screen and (max-width: 767px) {
    font-size: 1.25rem;
  }

  background-color: #315084;
  color: var(--white-color);
  font-size: 1.5rem;
  text-align: center;
  padding: 8px 16px;
  border-radius: 10px;
}

.swiperDesc {
  margin-top: 30px;
  color: var(--text-blue-color-2);
  font-size: 2rem;
  font-weight: 700;
}

.products {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 40px;
}

.mobile-products {
  max-width: calc(50% - 8px * 2);
  text-align: center;
  margin: 8px;
}

.mobile-products img {
  width: 100%;
  border-radius: 20px;
}

.mobile-products-desc {
  color: var(--text-blue-color-2);
  font-size: 1.25rem;
  line-height: 24px;
}

.equipment {
  width: 100%;
  margin-bottom: 50px;
}

.mobile-equipment {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-right: 12px;
  flex: 0 0 auto;
  text-align: center;
  color: var(--text-blue-color-2);
  font-size: 1.25rem;
  font-weight: 600;
}

.mobile-equipment img {
  width: 100%;
  border-radius: 20px;
}