.banner {
    @media screen and (max-width: 767px) {
        padding: var(--mobile-padding);
        margin-top: 70px;
    }

    display: flex;
    width: 100%;
    position: relative;
    height: 300px;
    // background-image: url('/_123282362_hi042879001.jpg');
    background-repeat: repeat;
    background-position: center;
}

.desc {
    @media screen and (max-width: 767px) {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    margin: 0 auto;
    width: 100%;
    max-width: var(--global-pc-width);
    margin-top: 128px;
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: 3rem;
    text-align: center;
    font-size: 1rem;
    text-align: left;
    z-index: 1;
}

.desc h3 {
    @media screen and (max-width: 767px) {
        font-size: 2rem;
    }

    font-weight: bold;
    font-size: 3rem;
}

.desc h2 {
    font-weight: bold;
    font-size: 1rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    color: var(--title-color);
    font-size: 2.25rem;
    font-weight: bold;
    background-color: var(--white-color);

    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.section {
    @media screen and (max-width: 767px) {
        margin-top: 20px;
    }

    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}