.history {
    flex-direction: row !important;

    .timeline-image {
        position: relative;
        width: 500px;
        height: 768px;
    }

    .timeline-text {
        font-size: 1.75rem;
        line-height: 40px;
    }
}

.sewage {
    .sewage-text {
        font-size: 1.75rem;
        line-height: 40px;
    }

    .sewage-image {
        position: relative;
        width: 600px;
        height: 4494px;
    }
}