%font {
    font-size: 1.75rem;
    line-height: 40px;

    @media screen and (max-width: 767px) {
        font-size: 1.25rem;
        line-height: 24px;
    }
}

.history {
    flex-direction: row !important;
    justify-content: center;

    @media screen and (max-width: 767px) {
        flex-direction: column-reverse !important;
    }

    .timeline-image {
        position: relative;
        min-width: 320px;
        width: 100%;
        max-width: 400px;
        aspect-ratio: 797 / 1536;
    }

    .timeline-text {
        @extend %font;
        width: 100%;
        max-width: 535px;
        margin-left: 60px;

        @media screen and (max-width: 767px) {
            margin-left: 0;
            margin-bottom: 30px;
        }
    }
}

.sewage {
    .sewage-text {
        @extend %font;

        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    .sewage-image {

        position: relative;
        min-width: 320px;
        width: 100%;
        max-width: 600px;
        aspect-ratio: 879 / 6615;
    }
}