// .section {}

h3 {
    font-size: 2.25rem;
}

.services {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;

    >div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-top: 36px;
        cursor: pointer;

        div {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }

        span {
            font-size: 1.75rem;
            border-radius: 50%;
            text-align: center;
            font-weight: bold;

            span {
                font-size: 1.25rem;
            }
        }

        svg {
            position: absolute;
        }

        svg.left {
            left: 10%;
        }

        svg.right {
            right: 10%;
        }
    }
}

.popover {
    border-radius: 30px !important;

    &.printing {
        min-width: 365px !important;

        tr {
            td:first-child {
                width: 115px;
            }

            td:last-child {
                width: 210px;
            }
        }
    }

    &.setting {
        min-width: 350px !important;

        tr {
            td:last-child {
                width: 280px;
            }
        }
    }

    table {
        font-weight: bold;
        font-size: 1rem;
    }



    td {
        +td {
            padding-left: 20px;
        }
    }
}

.popover-arrow {
    display: none !important;
}

.equipment {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1024px) {
        max-width: 770px;
    }

    @media screen and (max-width: 767px) {
        flex-direction: column !important;
    }

    .equipment-item {
        border: 1px solid #C8C8C8;
        border-radius: 30px;
        max-width: 385px;
        width: calc((100% - 40px) / 3);
        height: 480px;
        // overflow: auto;

        @media screen and (max-width: 1024px) {
            width: calc((100% - 20px) / 2);
        }

        @media screen and (max-width: 767px) {
            width: 100%;
        }

        .image {
            cursor: zoom-in;
            position: relative;
            max-width: 385px;
            max-height: 250px;
            width: 100%;
            height: 100%;

            img {
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
            }
        }

        .text {
            padding: 20px 40px;
            text-align: center;
            height: 230px;
            overflow: auto;

            @media screen and (max-width: 767px) {
                width: 100%;
                padding: 20px;
            }

            h3 {
                color: var(--text-blue-color-2);
                font-size: 1.5rem;
                font-weight: bold;
            }

            .en-text {
                margin-top: 5px;
                color: var(--text-blue-color-2);
                font-size: 0.8rem;
                font-weight: 600;
            }

            .desc {
                margin-top: 15px;
            }
        }
    }
}