:root {
  --white-color: #fff;
  --global-pc-width: 1200px;
  --text-blue-color-1: #062959;
  --text-blue-color-2: #343F52;
  --text-blue-color-3: #0D6EFD;
  --title-color: #062959;
  --global-bgcolor: #F2F8FB;


  /* z-index */
  --header-z-index: 11;

  /* swiper */
  --swiper-theme-color: var(--text-blue-color-3) !important;

  --mobile-padding: 12px
}

* {
  box-sizing: border-box;
}


html {
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: var(--global-bgcolor);
}

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  @media screen and (max-width: 767px) {
    padding: var(--mobile-padding);
  }
  flex: 1;
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: var(--global-pc-width);
}